// Header SCSS

#header {
	
	font-family:$font-stack;
	
	h1{
		margin-bottom:20px;
		float:left;
		font-size:40px;
	}
	
	&:after {
		@include clear-fix;
	}

    nav {
		margin-top:12px;
  		float: right;

    	li {
    		float: left;
			list-style:none;
			font-size:18px;
			margin-left:5px;
			
			a {
				text-decoration:none;
				color:$text-color;
					
				&:hover {
					color:$hover-color;
				}
			}//a
    	}//li
	} //nav
}// #header